# Assignment : Intro to Python and Pandas
# Due on: 02/06/2019 by 11:59 pm via Canvas

In [3]:
import numpy as np
import pandas as pd

### TASK-1
### Create two (1 * 10) array using numpy and name them X and Y. Fill the array with random values
### Calculate elementwise addition, subtraction, multiplication, and division of X and Y. Print all results

In [6]:
x = np.random.random((1,10))
y = np.random.random((1,10))

In [8]:
print(np.add(x,y))
print(np.subtract(x,y))
print(np.multiply(x,y))
print(np.divide(x,y))

[[0.67887827 1.22693944 0.4675482  0.89103843 1.00206656 0.67990296
  1.71805861 0.72670014 0.42347917 1.64466438]]
[[-0.03306577 -0.46622587 -0.11433192  0.35762445 -0.92249179  0.61473054
   0.22435358  0.63037018 -0.29266046  0.13875711]]
[[0.11494559 0.32200345 0.05138238 0.16651356 0.03828657 0.0210936
  0.72534771 0.03268163 0.02342112 0.67141685]]
[[ 0.90711132  0.44928488  0.60702585  2.34088891  0.04134703 19.86474448
   1.30039878 14.08772876  0.18267207  1.18428374]]

### TASK-2
### Load the Car_Evaluation Data using pandas

In [12]:
input_path = 'Car_Evaluation.csv'

In [13]:
data_df = pd.read_csv(input_path)

### TASK-3
### Print length of the dataframe

In [15]:
print(len(data_df))

1728

### TASK-4
### Print number of attributes and attribute names of the dataframe

In [16]:
print(data_df.columns)

Index(['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class'], dtype='object')

In [17]:
print(len(data_df.columns))

7

### TASK-5
### Print unique values of each attribute in the dataframe

In [23]:
for column in data_df.columns:
    print(column)
    print(pd.unique(data_df[column].values))

buying
['vhigh' nan 'high' 'med' 'low']
maint
['vhigh' 'high' 'med' nan 'low']
doors
['2' '3' '4' '5more']
persons
['2' '4' 'more' nan]
lug_boot
['small' 'med' 'big']
safety
['low' 'med' 'high']
class
['unacc' nan 'acc' 'vgood' 'good']

### TASK-6
### Print datatype of each attribute

In [30]:
for column in data_df.columns:
    print(data_df[column].dtypes)

object
object
object
object
object
object
object

### TASK-7
### Load a dataframe where the attribute Class is "acc"
### Print the resulting dataframe

In [36]:
acc_df = data_df[data_df['class'] == 'acc']

In [38]:
print(acc_df)

     buying maint  doors persons lug_boot safety class
227   vhigh   med      2       4    small   high   acc
230   vhigh   med      2       4      med   high   acc
232   vhigh   med      2       4      big    med   acc
233   vhigh   med      2       4      big   high   acc
239   vhigh   med      2    more      med   high   acc
241   vhigh   med      2    more      big    med   acc
242   vhigh   NaN      2    more      big   high   acc
254   vhigh   med      3       4    small   high   acc
257   vhigh   med      3       4      med   high   acc
259   vhigh   med      3       4      big    med   acc
260   vhigh   med      3       4      big   high   acc
263   vhigh   med      3    more    small   high   acc
265   vhigh   med      3    more      med    med   acc
266   vhigh   med      3    more      med   high   acc
268   vhigh   med      3    more      big    med   acc
269   vhigh   med      3    more      big   high   acc
281   vhigh   med      4       4    small   high   acc
283   vhigh   med      4       4      med    med   acc
284   vhigh   med      4       4      med   high   acc
286   vhigh   med      4       4      big    med   acc
287   vhigh   med      4       4      big   high   acc
290   vhigh   med      4    more    small   high   acc
292   vhigh   med      4    more      med    med   acc
293   vhigh   med      4    more      med   high   acc
295   vhigh   med      4    more      big    med   acc
296   vhigh   med      4    more      big   high   acc
308   vhigh   med  5more       4    small   high   acc
310   vhigh   med  5more       4      med    med   acc
311   vhigh   med  5more       4      med   high   acc
313   vhigh   med  5more       4      big    med   acc
...     ...   ...    ...     ...      ...    ...   ...
1480    low  high      4    more      med    med   acc
1483    low  high      4    more      big    med   acc
1495    low  high  5more       4    small    med   acc
1496    low  high  5more       4    small   high   acc
1498    low  high  5more       4      med    med   acc
1501    low  high  5more       4      big    med   acc
1504    low  high  5more    more    small    med   acc
1505    low  high  5more    more    small   high   acc
1507    low  high  5more    more      med    med   acc
1510    low  high  5more    more      big    med   acc
1522    low   med      2       4    small    med   acc
1525    low   med      2       4      med    med   acc
1534    low   med      2    more      med    med   acc
1549    low   med      3       4    small    med   acc
1552    low   med      3       4      med    med   acc
1558    low   med      3    more    small    med   acc
1576    low   med      4       4    small    med   acc
1585    low   med      4    more    small    med   acc
1603    low   med  5more       4    small    med   acc
1612    low   med  5more    more    small    med   acc
1630    low   low      2       4    small    med   acc
1633    low   low      2       4      med    med   acc
1642    low   low      2    more      med    med   acc
1657    low   low      3       4    small    med   acc
1660    low   low      3       4      med    med   acc
1666    low   low      3    more    small    med   acc
1684    low   low      4       4    small    med   acc
1693    low   low      4    more    small    med   acc
1711    low   low  5more       4    small    med   acc
1720    low   low  5more    more    small    med   acc

[384 rows x 7 columns]

### TASK-8
### Load a dataframe where the attribute Class is "unacc" and the attribute Safety is "low"
### Print the resulting dataframe

In [39]:
unacc_df = data_df[(data_df['class'] == 'unacc') & (data_df['safety'] == 'low')]

In [40]:
print(unacc_df)

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
3     vhigh  vhigh      2       2      med    low  unacc
6     vhigh  vhigh      2       2      big    low  unacc
9     vhigh  vhigh      2       4    small    low  unacc
12    vhigh  vhigh      2       4      med    low  unacc
15    vhigh  vhigh      2       4      big    low  unacc
18    vhigh  vhigh      2    more    small    low  unacc
21    vhigh  vhigh      2    more      med    low  unacc
24    vhigh  vhigh      2    more      big    low  unacc
27    vhigh  vhigh      3       2    small    low  unacc
30    vhigh  vhigh      3       2      med    low  unacc
33    vhigh  vhigh      3       2      big    low  unacc
36    vhigh  vhigh      3       4    small    low  unacc
39    vhigh  vhigh      3       4      med    low  unacc
42    vhigh  vhigh      3       4      big    low  unacc
45    vhigh  vhigh      3    more    small    low  unacc
48    vhigh  vhigh      3    more      med    low  unacc
51    vhigh  vhigh      3    more      big    low  unacc
54    vhigh  vhigh      4       2    small    low  unacc
57    vhigh  vhigh      4       2      med    low  unacc
60    vhigh  vhigh      4       2      big    low  unacc
63    vhigh  vhigh      4       4    small    low  unacc
66    vhigh  vhigh      4       4      med    low  unacc
69    vhigh  vhigh      4       4      big    low  unacc
72    vhigh  vhigh      4    more    small    low  unacc
75    vhigh  vhigh      4    more      med    low  unacc
78    vhigh  vhigh      4    more      big    low  unacc
81    vhigh  vhigh  5more       2    small    low  unacc
84    vhigh  vhigh  5more       2      med    low  unacc
87    vhigh  vhigh  5more       2      big    low  unacc
...     ...    ...    ...     ...      ...    ...    ...
1638    low    low      2    more    small    low  unacc
1641    low    low      2    more      med    low  unacc
1644    low    low      2    more      big    low  unacc
1647    low    low      3       2    small    low  unacc
1650    low    low      3       2      med    low  unacc
1653    low    low      3       2      big    low  unacc
1656    low    low      3       4    small    low  unacc
1659    low    low      3       4      med    low  unacc
1662    low    low      3       4      big    low  unacc
1665    low    low      3    more    small    low  unacc
1668    low    low      3    more      med    low  unacc
1671    low    low      3    more      big    low  unacc
1674    low    low      4       2    small    low  unacc
1677    low    low      4       2      med    low  unacc
1680    low    low      4       2      big    low  unacc
1683    low    low      4       4    small    low  unacc
1686    low    low      4       4      med    low  unacc
1689    low    low      4       4      big    low  unacc
1692    low    low      4    more    small    low  unacc
1695    low    low      4    more      med    low  unacc
1698    low    low      4    more      big    low  unacc
1701    low    low  5more       2    small    low  unacc
1704    low    low  5more       2      med    low  unacc
1707    low    low  5more       2      big    low  unacc
1710    low    low  5more       4    small    low  unacc
1713    low    low  5more       4      med    low  unacc
1716    low    low  5more       4      big    low  unacc
1719    low    low  5more    more    small    low  unacc
1722    low    low  5more    more      med    low  unacc
1725    low    low  5more    more      big    low  unacc

[576 rows x 7 columns]

### TASK-9
### Create a dataframe with only attributes: buying, maint, doors, and Class
### Print the dataframe

In [42]:
small_df=data_df[['buying','maint','doors','class']]

In [43]:
print(small_df)

     buying  maint  doors  class
0     vhigh  vhigh      2  unacc
1     vhigh  vhigh      2  unacc
2     vhigh  vhigh      2  unacc
3     vhigh  vhigh      2  unacc
4     vhigh  vhigh      2  unacc
5     vhigh  vhigh      2  unacc
6     vhigh  vhigh      2  unacc
7     vhigh  vhigh      2  unacc
8     vhigh  vhigh      2  unacc
9     vhigh  vhigh      2  unacc
10    vhigh  vhigh      2  unacc
11    vhigh  vhigh      2  unacc
12    vhigh  vhigh      2  unacc
13    vhigh  vhigh      2  unacc
14    vhigh  vhigh      2  unacc
15    vhigh  vhigh      2  unacc
16    vhigh  vhigh      2  unacc
17    vhigh  vhigh      2  unacc
18    vhigh  vhigh      2  unacc
19    vhigh  vhigh      2  unacc
20    vhigh  vhigh      2  unacc
21    vhigh  vhigh      2  unacc
22    vhigh  vhigh      2  unacc
23    vhigh  vhigh      2  unacc
24    vhigh  vhigh      2  unacc
25    vhigh  vhigh      2  unacc
26    vhigh  vhigh      2  unacc
27    vhigh  vhigh      3  unacc
28    vhigh  vhigh      3  unacc
29    vhigh  vhigh      3  unacc
...     ...    ...    ...    ...
1698    low    low      4  unacc
1699    low    low      4   good
1700    low    low      4  vgood
1701    low    low  5more  unacc
1702    low    low  5more  unacc
1703    low    low  5more  unacc
1704    low    low  5more  unacc
1705    low    low  5more  unacc
1706    low    low  5more  unacc
1707    low    low  5more  unacc
1708    low    low  5more  unacc
1709    low    low  5more  unacc
1710    low    low  5more  unacc
1711    low    low  5more    acc
1712    low    low  5more   good
1713    low    low  5more  unacc
1714    low    low  5more   good
1715    low    low  5more  vgood
1716    low    low  5more  unacc
1717    low    low  5more   good
1718    low    low  5more  vgood
1719    low    low  5more  unacc
1720    low    low  5more    acc
1721    low    low  5more   good
1722    low    low  5more  unacc
1723    low    low  5more   good
1724    low    low  5more  vgood
1725    low    low  5more  unacc
1726    low    low  5more   good
1727    low    low  5more  vgood

[1728 rows x 4 columns]

### TASK-10
### Get a dataframe by removing all empty values (or NaN) in the original dataframe
### Print length of the dataframe

In [44]:
new_df = data_df.dropna()

In [47]:
print(len(new_df))

1722

### TASK-11
### Duplicate the original dataframe
### Create a random column named "Color" in the new dataframe
### The column should be filled with random values between 0 and 4
### Print number of attributes in the dataframe and a count of each value in the column "Color"

In [49]:
new_df = data_df
new_df['color'] = np.random.randint(0, 4, len(data_df))

In [54]:
print(new_df['color'].value_counts())

0    460
2    441
3    414
1    413
Name: color, dtype: int64

### TASK-12
### Save the dataframe with "Color" attribute as "Car_modified.csv" file

In [55]:
new_df.to_csv('Car_modified.csv')

### TASK-13
### Load the Iris data into a dataframe
### Print the number of attributes, length of the dataframe, and uniques attributes in the dataframe

In [57]:
iris = pd.read_csv('iris.csv')

In [60]:
print(len(iris.columns))
print(len(iris))

5
150

In [62]:
for column in iris.columns:
    print(column)
    print(pd.unique(iris[column].values))

Sepal Length
[5.1 4.9 4.7 4.6 5.  5.4 4.4 4.8 4.3 5.8 5.7 5.2 5.5 4.5 5.3 7.  6.4 6.9
 6.5 6.3 6.6 5.9 6.  6.1 5.6 6.7 6.2 6.8 7.1 7.6 7.3 7.2 7.7 7.4 7.9]
Sepal Width
[3.5 3.  3.2 3.1 3.6 3.9 3.4 2.9 3.7 4.  4.4 3.8 3.3 4.1 4.2 2.3 2.8 2.4
 2.7 2.  2.2 2.5 2.6]
Petal Length
[1.4 1.3 1.5 1.7 1.6 1.1 1.2 1.  1.9 4.7 4.5 4.9 4.  4.6 3.3 3.9 3.5 4.2
 3.6 4.4 4.1 4.8 4.3 5.  3.8 3.7 5.1 3.  6.  5.9 5.6 5.8 6.6 6.3 6.1 5.3
 5.5 6.7 6.9 5.7 6.4 5.4 5.2]
 Petal Width
[0.2 0.4 0.3 0.1 0.5 0.6 1.4 1.5 1.3 1.6 1.  1.1 1.8 1.2 1.7 2.5 1.9 2.1
 2.2 2.  2.4 2.3]
Class
['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

### TASK-14
### Get a sum of attributes "Sepal Width" and "Sepal Length"

### TASK-15
### Get a mean of attributes "Petal Length" and "Petal Width"

### TASK-16
### Print standard deviation, minimum, and maximum value of all attributes except the "Class" attribute

### TASK-17
### Print number of instances in the dataframe with attribute "Class" = Iris_setosa
### Print number of instances in the dataframe with attribute "Class" = Iris_versicolor
### Print number of instances in the dataframe with attribute "Class" = Iris_virginica

### TASK-18
### Find average "Petal Length" for each Class type
### Find average "Petal Width" for each Class type

### TASK-19
### Print first 10 rows in the "Iris" dataframe
### Print last 10 rows in the "Iris" dataframe