# Assignment : Intro to Python and Pandas
# Due on: 02/06/2019 by 11:59 pm via Canvas

In [2]:
import numpy as np
import pandas as pd

### TASK-1
### Create two (1 * 10) array using numpy and name them X and Y. Fill the array with random values
### Calculate elementwise addition, subtraction, multiplication, and division of X and Y. Print all results

In [ ]:
X

### TASK-2
### Load the Car_Evaluation Data using pandas

### TASK-3
### Print length of the dataframe

### TASK-4
### Print number of attributes and attribute names of the dataframe

### TASK-5
### Print unique values of each attribute in the dataframe

### TASK-6
### Print datatype of each attribute

### TASK-7
### Load a dataframe where the attribute Class is "acc"
### Print the resulting dataframe

### TASK-8
### Load a dataframe where the attribute Class is "unacc" and the attribute Safety is "low"
### Print the resulting dataframe

### TASK-9
### Create a dataframe with only attributes: buying, maint, doors, and Class
### Print the dataframe

### TASK-10
### Get a dataframe by removing all empty values (or NaN) in the original dataframe
### Print length of the dataframe

### TASK-11
### Duplicate the original dataframe
### Create a random column named "Color" in the new dataframe
### The column should be filled with random values between 0 and 4
### Print number of attributes in the dataframe and a count of each value in the column "Color"

### TASK-12
### Save the dataframe with "Color" attribute as "Car_modified.csv" file

### TASK-13
### Load the Iris data into a dataframe
### Print the number of attributes, length of the dataframe, and uniques attributes in the dataframe

### TASK-14
### Get a sum of attributes "Sepal Width" and "Sepal Length"

### TASK-15
### Get a mean of attributes "Petal Length" and "Petal Width"

### TASK-16
### Print standard deviation, minimum, and maximum value of all attributes except the "Class" attribute

### TASK-17
### Print number of instances in the dataframe with attribute "Class" = Iris_setosa
### Print number of instances in the dataframe with attribute "Class" = Iris_versicolor
### Print number of instances in the dataframe with attribute "Class" = Iris_virginica

### TASK-18
### Find average "Petal Length" for each Class type
### Find average "Petal Width" for each Class type

### TASK-19
### Print first 10 rows in the "Iris" dataframe
### Print last 10 rows in the "Iris" dataframe